body {
	font-family: 'Raleway', sans-serif;
}

.about-page img {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
}

.products-page {
		background-color: #452536;
}

.navbar-brand img {
	max-height: 30px;
}

.nav-item {
	padding: 10px;
}

header  {
	padding-top: calc(6rem + 72px);
	padding-bottom: 6rem;
}

.home {
	background-image: url("images/coffee.png");
	background-size: cover;
	background-attachment: fixed;
	height: auto;
	height: 100vh;
	min-height: 35rem;
}

.home a:hover {
	text-decoration: none;
	color: white;
}

.title {
	font-size: 75px;
	color: white;
	letter-spacing: 7px;
}

h4 {
	font-size: 15px;
	padding-left: 30px;
}

h2 {
	padding-left: 30px;
}

a {
	text-decoration: none;
	color: white;
}

.services {
	background-color: #F5F5F5;
	text-align: center;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

section {
	padding: 6rem 0;
	min-height: 650px;
}

.btn {
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid white;
    color: white;
}

.btn:hover {
    background-color: #452536;
    border: 1px solid #452536;
    color: white;
}

.about {
	background-color: #452536;
	color: white;
	text-align: center;
}

.container .text {
	padding-right: 120px;
	padding-left: 120px;
}

.products {
	text-align: center;
	color: black;
}

.products img {
	max-height: 300px;
	padding: 10px;
}

.products a {
	color: #7F7F7F;
}

.products a:hover {
	color: black;
	text-decoration: none;
}

.productImgs {
	padding-top: 30px;
}

.contact {
	background-color: #452536;
	color: white;
}

.contact a:hover {
	color: white;
}

footer {
	background-color: #E8E6E7;
	padding: 5px 0;
}

.social {
	padding-left: 30px;
}

form {
	padding: 30px;
}

.fab {
	padding-right: 10px;
}

.btn-submit {
	border: none;
	background-color: transparent;
	color: white;
}


@media only screen and (max-width: 600px) {
	[class+="col-"] {
		width: 100%
	}

	.home {
		text-align: center;
		justify-content: center;
	}
	.home h1 {
		font-size: 55px;
	}

	.container .text {
		padding-left: 10px;
		padding-right: 10px;
	}
}

section {
	padding: 6rem 0 0 0;
}

.about-page img {
	width: 10%;
}

.about-page {
	background-color: #452536;
}

.about-us {
	color: white;
	padding-bottom: 2rem;
}

.about-page .col-md-6 {
	padding: .5rem 4rem .5rem 4rem;
}

.services h3 {
	padding: 2rem;
}

.services {
	padding-bottom: 3rem;
}

<div class="row">
        <h5>Our Machines</h5>
        <p>With just the touch of a button, every customized cup is individually brewed. Our machines use whole beans that are ground perfectly for every cup. 

        The environmentally-friendly coffee puck- that is, the residue from the grounded espresso beans- is 100% biodegradable. Furthermore, the energy used to produce our beverage is far less than most office microwaves. As a socially responsible company, Mug Shot Coffee is committed to maximizing its energy efficiency in our machines and choosing socially responsible products.

        Our machines are Italian made, and are among the most advanced and adaptable espresso systems available today. Our Series 525 machine accepts all Canadian coins, as well as Visa, Debit, MasterCard, American Express, Apple pay and Android pay. It also accepts tokens which can be redeemed for a free beverage. 

        For more information on each individual machine, see our <a href="products.html">products page.</a> </p>
      </div>